<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
  <div class="container" id="app">
    <div class="main-top">
      <div class="title-box">
        <h1>to do list</h1>
      </div>
      <div class="input-box">
        <input type="text" placeholder="add item" v-model="inputItem" @keyup.enter="addItem">
        <button @click="addItem">ADD</button>
      </div>
    </div>
    <div class="main">
      <div class="left-box">
        <h3>item list</h3>
        <i class="fas fa-trash-alt" title="delete all" @click="deleteAll"></i>
        <ul>
          <li v-for="(e, i) in item" v-if="item.length > 0">{{e}} 
            <div class="ico-box">
              <i class="far fa-edit" id="edit" title="edit" @click="editItem(i)"></i>
              <i class="far fa-minus-square" id="delete" title="delete" @click="deleteItem(i)"></i>
            </div>
          </li>
          <li v-if="item.length == 0">You have no items</li>
        </ul>
      </div>
      <div class="right-box">
        <h3>deleted item</h3>
        <i class="fas fa-trash-alt" title="trash it for good" @click="trashAll"></i>
        <ul>
          <li v-for="(e, i) in deleted" v-if="deleted.length > 0">{{e}} 
            <div class="ico-box">
              <i class="far fa-plus-square" title="restore" id="restore" @click="restoreItem(i)"></i>
              <i class="far fa-minus-square" id="delete-right" title="delete" @click="trashItem(i)"></i>
            </div>
          </li>
          <li v-if="deleted.length == 0">You have no deleted items</li>
        </ul>
      </div>
    </div>
  </div>
  
  <script src="js/script.js"></script>
</body>
</html>